body{font-family:Zawgyi-One !important;}
p{font-family:Zawgyi-One !important;}
h1{font-family:Zawgyi-One !important;}
h2{font-family:Zawgyi-One !important;}
h3{font-family:Zawgyi-One !important;}
h4{font-family:Zawgyi-One !important;}
h5{font-family:Zawgyi-One !important;}
h6{font-family:Zawgyi-One !important;}
a{font-family:Zawgyi-One !important;}
span{font-family:Zawgyi-One !important;}
div{font-family:Zawgyi-One !important;}
ul{font-family:Zawgyi-One !important;}
li{font-family:Zawgyi-One !important;}
